In [4]:

import pandas as pd

In [2]:
file_name = "dict_append.cvs"

In [3]:
df = pd.DataFrame({'name': ['Raphael', 'Donatello'],
                   'mask': ['red', 'purple'],
                   'weapon': ['sai', 'bo staff']})
df.to_csv(file_name, index=False,sep=",")

In [4]:
df_r = pd.read_csv(file_name)
df_r

        name    mask    weapon
0    Raphael     red       sai
1  Donatello  purple  bo staff

In [5]:
n = {"name" : "Gustav", "mask" : "black", "weapon" : "sword3" , "aa":"test"}
m =dict()
for k,v in n.items():
    m[k]= [v]

a = pd.DataFrame.from_dict(m)

In [6]:
print(df_r.iloc[:,0])

0      Raphael
1    Donatello
Name: name, dtype: object

In [7]:


in_list = False

row = 0
for keyName in df_r.iloc[:,0]:
    if keyName == n["name"]:
        print(keyName, "is in list")
        in_list = True
        break
    else:
        row=row+1
print(in_list,row)

False 2

In [8]:
def append_row(df, row):
    row =pd.Series(row)
    return pd.concat([
                df, 
                pd.DataFrame([row], columns=row.index)]
           ).reset_index(drop=True)

In [9]:
def add_dict_to_DataFrame(df, n:dict , key="name"):
    row = 0
    cols = list(df.columns)
    keyCol=cols[0]
    in_list =False
    for keyName in df.iloc[:,0]:
        if keyName == n[keyCol]:
            print(keyName, "is in list")
            in_list = True
            break
        else:
            row=row+1
    print(in_list,row)
    ## add:
    if not in_list:
        df = append_row(df, n)
        print(row)
    else:
        df_cols =df.columns
        for colName in df_cols:
            df.at[row,colName] = n[colName]
        ex = {"name":[n["name"]]}
        for k,v in n.items():
            if k not in df_cols:
                ex[k] = [v]
        print(ex)
        new_cols_data = pd.DataFrame.from_dict(ex)
        print(new_cols_data)
        df = df.join(new_cols_data.set_index(keyCol), on=keyCol)
    return df

In [10]:
df_2 = pd.read_csv(file_name)

n = {"name" : "Gustav", "mask" : "black", "weapon" : "sword3" , "aa":"test"}
df_3 =fx(df_2,n)
df_3

NameError: name 'fx' is not defined

In [ ]:
n = {"name" : "Gustav", "mask" : "black", "weapon" : "sword4" , "aa":"test","bb":43}
df_4 =fx(df_3,n)
df_4

Gustav is in list
True 2
{'name': ['Gustav'], 'bb': [43]}
     name  bb
0  Gustav  43

        name    mask    weapon    aa    bb
0    Raphael     red       sai   NaN   NaN
1  Donatello  purple  bo staff   NaN   NaN
2     Gustav   black    sword4  test  43.0

In [ ]:

if not in_list:
    df_r = append_row(df_r, n)
    print(row)
else:
    for colName in df_r.columns:
        df_r.at[row,colName] = n[colName]

    pass
#df_r.replace(n, 100)
df_r

2

        name    mask    weapon    aa    bb
0    Raphael     red       sai   NaN   NaN
1  Donatello  purple  bo staff   NaN   NaN
2     Gustav   black    sword4  test  43.0

In [ ]:
row_values = list()
b = list ()
print(df.index.max())
for k in df_r.columns:
    row_values.append(n[k])
    
ex = {"name":[n["name"]]}
for k,v in n.items():
    if k not in df_r.columns:
        b.append(k)
        ex[k] = [v]
print(ex)

a = pd.DataFrame.from_dict(ex)
s = pd.Series(ex)
df_r.loc[df.index.max()+1] = row_values
print("aa")
df_r.join(a.set_index('name'), on="name")
print("aa")
df_r
a

1
{'name': ['Gustav']}
aa
aa

     name
0  Gustav

In [2]:
import pandas as pd
from arenz_group_python.file.file_dict import add_dict_to_DataFrame
dfa = pd.read_csv("a.csv")
print(dfa.empty)
list(dfa.columns)[0]
n = {"name" : "Gustav", "mask" : "black",  "aa":"test","bb":48, "weapon":"fvdf"}
add_dict_to_DataFrame(dfa,n)

EmptyDataError: No columns to parse from file

In [5]:
from arenz_group_python.file.file_dict import save_dict_to_tableFile, open_dict_from_file
n = {"name" : "Gustav", "mask" : "black",  "aa":"test","bb":48, "weapon":"fvdf"}
save_dict_to_tableFile("a.csv","Gustav", n)
n = {"name" : "Gustav3", "mask" : "black",  "aa":"test","bb":48, "weapon":"fvdf"}
save_dict_to_tableFile("a.csv","Gustav3", n)


kw2= open_dict_from_file("dict.txt")
save_dict_to_tableFile("a.csv","sample",kw2)
n = {"name" : "Gustav4", "mask" : "black",  "aa":"test","bb":48, "weapon":"fvdf"}
save_dict_to_tableFile("a.csv","Gustav4", n)

Gustav was already in the list: updating
Gustav3 was already in the list: updating
sample was already in the list: updating
Gustav4 was already in the list: updating

In [ ]:
d2=df_r.join(newRow.set_index('name'), on="name",validate="m:1")
print("aa")
d2

NameError: name 'newRow' is not defined

In [ ]:
#Creating the first Dataframe using dictionary
df1 = df = pd.DataFrame({"a":[1, 2, 3, 4],
                        "B":[5, 6, 7, 8]})

# Creating the Second Dataframe using dictionary
df2 = pd.DataFrame({"a":[1, 2, 3],
                    "b":[5, 6, 7]})

df.loc[df.index.max() + 1]

# Print df1
print("Printing df1")
print(df1, "\n")

# Print df2
print("Printing df2")
df2
df3= df1.join(df2.set_index('a'))

df3

In [ ]:
other = pd.DataFrame({'a': ['K0', 'K1', 'K2','K8'],
                      'B': ['B0', 'B1', 'B2','B4']})
df = pd.DataFrame({'a': ['K0', 'K1', 'K1', 'K3', 'K0', 'K1'],
                   'A': ['A0', 'A1', 'A2', 'A3', 'A4', 'A5']})
df.join(other.set_index('a'), on='a',validate="m:1")